body {
  /* font-family: Arial, sans-serif; */
  margin: 0;
  padding: 0;
}

.nav-container {
  max-width: 90%;
  margin: auto;
}

.logo {
  display: flex;
  justify-content: left;
  align-items: center;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background: red; */
}

.nav-items {
  display: flex;
  align-items: center;
  gap: 25px;
}

.search-auth {
  align-items: center;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.search-bar {
  align-items: center;
  display: flex;
}

#brand-logo {
  height: 70%;
  width: 100%;
}

ul {
  list-style: none;
}

/* .logo{
  background-color: rebeccapurple;
} */
.search-bar {
  background: rgb(233, 233, 233);
  padding: 7px;
}

input {
  outline: none;
  border: none;
  background: rgb(233, 233, 233);

}

.input-field {
  display: flex;
  flex: 3;
  align-items: center;
  justify-content: left;
}

.icon {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: right;
}

.sign-out-btn {
  outline: none;
  border: none;
  padding: 7px;
  background: rgb(255, 204, 204);
  color: red;
  font-size: 12px;
}

.profile-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-pic {
  border-radius: 25px;
}


.hero {
  background-image: url('../../images/hero-image.jpg');
  background-size: cover;
  background-position: 0 0;
  /* margin-top: 70px; */
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #333;
}

.hero-content {
  max-width: 600px;
}

.hero h1 {
  font-size: 3em;
  margin-bottom: 20px;
}

.hero p {
  font-size: 1.2em;
  margin-bottom: 30px;
}

.hero-btn {
  display: inline-block;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.hero-btn:hover {
  background-color: #555;
}

.container {
  max-width: 80vw;
  margin: auto;
  /* border: 2px solid red; */
}

.latest-posts, .trending-posts{
  margin: 40px 0;
}

.posts-list, .trending-list{
  display: flex;
  flex-direction: column;
  border-top: 1px solid #ddd;
  padding-top: 20px;
}

.post {
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.post:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.post h2 {
  margin-bottom: 10px;
}

.post p {
  margin-bottom: 15px;
}

.read-more {
  display: inline-block;
  color: #333;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
  transition: color 0.3s ease;
  
}

.read-more:hover {
  color: #555;
}

.post-content {
  font-size: 14px;
}

.post-title {
  font-size: 20px;
  margin-bottom: 5px;
}

.post-date {
  color: #888;
  font-style: italic;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footer-links ul,
.footer-social ul {
  list-style: none;
  padding: 0;
}

.footer-links li,
.footer-social li {
  margin-bottom: 10px;
}

.footer-links a,
.footer-social a {
  color: #fff;
  text-decoration: none;
}

.footer-info h3 {
  margin-bottom: 10px;
}

.footer-info p {
  font-size: 14px;
}

.fa {
  font-size: 24px;
  margin-right: 10px;
}

.blog{
  width: 23.2vw;
  height: auto;
  padding: 15px;
  border: 1px solid #f0f0f0;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;

}
.blog:hover{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.blog-img{
  width: 100%; /* Ensure the image fills the container horizontally */
  height: 100%; /* Ensure the image fills the container vertically */
  object-fit: cover; /* Fit the image inside the container while preserving its aspect ratio */
}

.blog-meta{
  display: flex;
  /* background-color: #4cb753; */
  justify-content: space-between;
  align-items: center;
}
.profile-wrapper{
  display: flex;
  align-items: center;
}
.blog-writer{
  margin-left: 4px;
  font-size: small;
  color: #b1b1b1;
}
.blog-date{
  font-size: small;
  color: #b1b1b1;
}

.category-btn{
  outline: none;
  color: #4B6BFB;
  background: #f1f1f1;
  border: none;
  padding: 7px;
  border-radius: 7px;
  margin-bottom: 4px;
}

.category-wrapper{
  padding-top: 4px;
}

.blogs-container{
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}

.blog-title{
  margin-top: -10px;
}